@import url("variables.css");

/* ╭────────────────────────────────────────────────────────────────────────────────╮
   │                                   Allgemein                                    │
   ╰────────────────────────────────────────────────────────────────────────────────╯ */

.seite {
  background-color: var(--backgorund-color);
  margin: 0;
  padding: 0;
}

.fullscreen-container {
  height: calc(100vh - 70px);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
/* ╭────────────────────────────────────────────────────────────────────────────────╮
   │                                  Startseite                                    │
   ╰────────────────────────────────────────────────────────────────────────────────╯ */

.welcome-box {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-right: 20%;
  height: 60%;
  width: 50%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  outline: solid white 1px;
}
.welcome-box > .text-wrapper {
  margin-bottom: 300px;
  margin-left: 20px;
}

/* ╭────────────────────────────────────────────────────────────────────────────────╮
   │                                     Text                                       │
   ╰────────────────────────────────────────────────────────────────────────────────╯ */

h1 {
  font-family: var(--heading-font);
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 1px;
  color: var(--text-color-light)
}

p {
  font-family: var(--text-font);
  color: var(--text-color-light)
}

.text-wrapper {
  display: block;
}

/* Für Geräte mit Screen Ration unter 1/1, vor allem Handys */
@media only screen and (max-aspect-ratio: 1/1) {
  .welcome-box {
    width: 95%;
    margin: auto;
    align-items: stretch;
  }
  h1 {
    word-wrap: break-word
  }
}