@import url("variables.css");

.seite {
  background-color: var(--backgorund-color);
}

.fullscreen-container {
    height: calc(100vh - 70px);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  