@import url("variables.css");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--backgorund-color);
  color: white;
}
  
.logo img {
  height: 35px;
  width: auto;
  display: block;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

.navbar a {
  justify-content: center;
  align-items: center;
}

.navbar .icon-wrapper {
  position: relative;
  display: inline-block;
  padding: 0;
  height: 45px;
  box-sizing: border-box;
}

.navbar .icon-wrapper:hover::after {
  opacity: 1;
}

.navbar .icon-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 7px;
  z-index: 1; /* Damit der Tint über dem Bild liegt */
}

.navbar .icon {
  width: 100%;
  height: 100%;
  display: block;
}

/* ╭────────────────────────────────────────────────────────────────────────────────╮
   │                               Mobile Optimierung                               │
   ╰────────────────────────────────────────────────────────────────────────────────╯ */

@media only screen and (max-aspect-ratio: 1/1) {
  .dont-show-mobile {
  display: none !important;
  }
  
  .navbar ul {
    justify-content: end;
  }
}