@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

:root {
  --main-color: #333;
}

.seite {
  margin: 0;
  padding: 0;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
  }
  
.logo img {
  height: 35px; /* Automatische Anpassung der Breite für Seitenverhältnis */
  width: auto; /* Keine Verzerrung */
  display: block; /* Entfernt eventuelle Inline-Element-Abstände */
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.navbar a {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #ff6347;
}

.fullscreen-container {
  height: calc(100vh - 80px);
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
