@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

:root {
    --backgorund-color: #333333;
    --accent-color: #681fd3;

    --button-hover-light: #adc3ff;

    --text-font: "Quicksand", sans-serif;
    --text-color-light: #f7f7f7;
}
